@import'antd/dist/antd.css';

.title {
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
}

/* .card {
    padding-right: 100;
    width: 80%;
} */